/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
